Quarter4/GRPC/Lesson2/PumpService/PumpClient/Connected Services/PumpServiceReference/PumpService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.ServiceModel.Samples/Imports">
      <xsd:import schemaLocation="http://localhost:59329/PumpService.svc?xsd=xsd0" namespace="http://Microsoft.ServiceModel.Samples" />
      <xsd:import schemaLocation="http://localhost:59329/PumpService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59329/PumpService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PumpService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPumpnService_RunScript_InputMessage">
    <wsdl:part name="parameters" element="tns:RunScript" />
  </wsdl:message>
  <wsdl:message name="IPumpnService_RunScript_OutputMessage">
    <wsdl:part name="parameters" element="tns:RunScriptResponse" />
  </wsdl:message>
  <wsdl:message name="IPumpnService_UpdateAndCompileScript_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAndCompileScript" />
  </wsdl:message>
  <wsdl:message name="IPumpnService_UpdateAndCompileScript_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAndCompileScriptResponse" />
  </wsdl:message>
  <wsdl:message name="IPumpnService_UpdateStatistics_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatistics" />
  </wsdl:message>
  <wsdl:message name="IPumpnService_UpdateStatistics_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatisticsResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IPumpnService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RunScript">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IPumpnService/RunScript" message="tns:IPumpnService_RunScript_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IPumpnService/RunScriptResponse" message="tns:IPumpnService_RunScript_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateAndCompileScript">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IPumpnService/UpdateAndCompileScript" message="tns:IPumpnService_UpdateAndCompileScript_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IPumpnService/UpdateAndCompileScriptResponse" message="tns:IPumpnService_UpdateAndCompileScript_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateStatistics">
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IPumpnService/UpdateStatistics" message="tns:IPumpnService_UpdateStatistics_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IPumpnService/UpdateStatisticsResponse" message="tns:IPumpnService_UpdateStatistics_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>